@model  IEnumerable<Infraestructura.Models.Producto>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Lista de Órdenes</h3>

<table class="table table-dark table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Foto)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>

            <td>
                <img src="data:image/jpeg;charset=utf-8;base64,@Convert.ToBase64String(item.Foto)" role="img"
                     alt="Libro @Html.DisplayNameFor(model => model.Nombre)"
                     class="bd-placeholder-img" width="70" height="70">
            </td>
        </tr>
    }
</table>

@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jquery")