@{ int cantidadProductos = NaturalMed.ViewModels.ViewModelCarrito.Instancia.GetCountItems();}

<a href="@Url.Action("Index", "Factura")" class="nav-link">
    Orden <span class="badge badge-light">   @cantidadProductos</span>
</a>

@if (@ViewBag.NotiCarrito != null)
{
    <script>
            @Html.Raw(@ViewBag.NotiCarrito);
    </script>
}
