@model NaturalMed.ViewModel.LoginViewModel

@{
    ViewBag.Title = "Login";
}
@{
    Layout = Layout = "~/Views/Shared/_Login.cshtml"; ;
}

<h2 id="formularioTitle" align="center">Inicio de Sesión</h2>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@using (Html.BeginForm("Login", "Login"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal needs-validation" id="formulario" align="center" novalidate>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*Campo tipo password*@
                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Entrar" class="btn btn-success" />
            </div>
        </div>
        <br />
        <div class="form-group" align="center">
            <div class="col-md-12">
                @Html.ActionLink("¿Olvidaste tu contraseña?", "IniciarRecuperacion")
            </div>
        </div>
    </div>
}

<style>
    body {
        margin-top: 10%;
    }

    footer {
        margin-top: 16.5%
    }

    .btn {
        width: 60%
    }
</style>
