
@model IEnumerable<Infraestructura.Models.Producto>

@{ 
    ViewBag.Title = "AdminProducto";

}

<div class="card-boddy">
    <div class="shadow p-3 mb-5 bg-body rounded">
        <h2>Gestión de Productos</h2>

    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Foto)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelitem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.Nombre)
                </td>
                <td>
                    &cent; @Html.DisplayFor(model => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.Cantidad)
                </td>
                <td>
                    <input class="zoom" type="image" src="data:image/jpeg;charset=utf-8;base64,@Convert.ToBase64String(item.Foto)" id="ImagenActivo" style="height:150px;width:150px">
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.ID }) |
                </td>
            </tr>
        }
    </table>
    <a href="/Producto/Create">Agregar Producto</a>
</div>