@model IEnumerable<Infraestructura.Models.Producto>

@{
    ViewBag.Title = "Catalogo";
}

<h2>Catalogo</h2>

<div class="row" style="margin-top:2%">
    @foreach (var item in Model)
    {
        <div class="col-sm-3" style="margin-bottom: 2.5%">
            <div class="card shadow-lg" style="width:100%; height: 100%;">
                <img style="height: 50%" src="data:image/jpeg;charset=utf-8;base64, @Convert.ToBase64String(item.Foto)"
                     alt=" @Html.DisplayFor(modelItem => item.Descripcion)" class="img img-fluid" />
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Descripcion)</h5>

                    <p class="card-text">
                        @Html.DisplayNameFor(model => model.Precio):&cent; @Html.DisplayFor(model => item.Precio)

                    </p>
                    <a href="@Url.Action("SaveCarrito", "Producto", new { id = item.ID})">
                        <button type="button" class="btn btn-primary btnMant">
                            <img src="~/Images/shopping-cart.png" style="height: 30px; width: auto; margin-right:10px" alt="Alternate Text" />Añadir al carrito
                        </button>
                    </a>
                    @*@Ajax.ActionLink("Ordenar",//Texto para el usuario
                                "ordenarProducto",//Acción a llamar
                                "Factura",
                                new
                                {
                                    ProductoId = item.ID
                                },//Parámetros a enviar
                                new AjaxOptions
                                {
                                    UpdateTargetId = "cantidadProductos",
                                    InsertionMode = InsertionMode.Replace,
                                    HttpMethod = "GET",
                                }, new { @class = "btn btn-primary" }
                                )*@
                </div>
            </div>
        </div>
    }
</div>

<h5>Medio de pago via sinpe móvil</h5>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryajex")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
}