@using PagedList.Mvc;
@model  PagedList.IPagedList<Infraestructura.Models.Factura>

@{
    ViewBag.Title = "Ordenes";
}

<div class="container">

    <h2>Lista de Ordenes registradas</h2>
    <div class="btn-group btn-group-justified" role="group">
    </div>
    <div class="row">

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Factura")
                    </th>
                    <th>
                        @Html.DisplayName("FechaCreacion")
                    </th>

                    <th>
                        @Html.DisplayName("Condición")
                    </th>
                    <th>
                        @Html.Label("Acciones")
                    </th>
                </tr>
            </thead>
            <tbody id=" resultado">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdFactura)
                        </td>
                        <td>
                            @Convert.ToDateTime(item.FechaCreacion).ToString("dd/MM/yyyy")
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.CondicionFactura.Descripcion)
                        </td>
                        <td>
                            <a class="btn" style="background-color: lightgray" title="Detalles Orden" href="@Url.Action("Details", "Factura", new {id = item.IdFactura })"><i class="fa fa-info"></i></a>
                            <a class="btn btn-success" onclick="aprobar()" title="Aprobar Orden" href="@Url.Action("AprobarOrden", "Factura", new {id = item.IdFactura })"><i class="fa fa-check"></i></a>
                            <a class="btn btn-success" onclick="facturar()" title="Generar Factura" href="@Url.Action("FacturaElectronicaCR", "Factura", new {id = item.IdFactura })"><i class="fa fa-paper-plane"></i></a>
                            @*<a class="btn btn-primary" onclick="rechazar()" title="Rechazar Orden" href="@Url.Action("RechazarOrden", "Factura", new {id = item.IdFactura })"><i class="fa fa-ban"></i></a>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <ul class="pagination">
            @*<li class="page-item disabled">
                <span class="page-link" href="@Html.PagedListPager(Model, page => Url.Action("IndexAdmin", "Factura", new { page, pageSize = ViewBag.PageSize }))">Anterior</span>
            </li>*@
            <li class="page-item">                
                @Html.PagedListPager(Model, page => Url.Action("IndexAdmin", "Factura", new { page, pageSize = ViewBag.PageSize }))
            </li>
        </ul>        
    </div>
</div>

@* Mensajes de rechazado y aprobado *@
<script>
    function facturar() {
        swal("Información", "Orden Facturada", "success");
        wait
    }

    function aprobar() {
        swal("Información", "Orden Aprobada", "success");
    }
</script>

<style>
    #toast-container > div {
        margin-top: 29%;
        opacity: 1;
    }
</style>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryajax")

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    }